<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="restaurantes" href="/tabs/restaurantes">
      <ion-icon aria-hidden="true" name="restaurant-outline"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-cuenta" href="/tabs/mi-cuenta">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
