<div
  class="d-flex flex-row justify-content-between animate__animated animate__fadeIn mb-3"
>
  <div class="col-4">
    <button
      mat-raised-button
      color="secundary"
      routerLink="/admin/business/restaurants"
    >
      Volver<mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="col-8">
    <div class="d-flex justify-content-end gap-2">
      <button
        mat-raised-button
        color="primary"
        (click)="activateRestaurant(restaurant)"
      >
        Activar<mat-icon>power_settings_new</mat-icon>
      </button>
      <button
        *ngIf="restaurant.address; else address"
        class="flex-md-shrink-3"
        mat-raised-button
        color="accent"
        (click)="editAddress()"
      >
        Editar Dirección<mat-icon>location_on</mat-icon>
      </button>
      <ng-template #address>
        <button
          class="flex-md-shrink-3"
          mat-raised-button
          color="primary"
          (click)="newAddress()"
        >
          Agregar Dirección<mat-icon>location_on</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
          alt="avatar"
          class="rounded-circle img-fluid mb-4"
          style="width: 150px"
        />
        <div class="d-flex justify-content-center mb-2">
          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-primary"
          >
            Follow
          </button>
          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-outline-primary ms-1"
          >
            Message
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Nombre del Restaurante:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant!.restaurantName }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant.email }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Télefono Movil:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant.mobilePhone }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Télefono Fijo:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant.localPhone }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Encargado:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant.manager }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Direccion (Google maps) -->
  <div class="col-lg-4">
    <div class="card mb-4">
      <h2 class="text-center mt-4">Ubicacíon</h2>
      <hr />
      <div class="card-body text-center">
        <div class="d-flex justify-content-center mb-2">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Detalles de la ubicación:-->
  <div class="col-lg-8" *ngIf="restaurant.address!">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="mb-0">Detalles de la Dirección:</h2>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Calle:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ restaurant.address!.street }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Número:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">
              {{ restaurant.address!.buildingNumber }}
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Piso / Puerta Número:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">
              {{ restaurant.address!.floorNumber }} |
              {{ restaurant.address!.doorNumber }}
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Zona / País:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">
              {{ restaurant.address!.area }} | {{ restaurant.address!.country }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
