/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "@ngneat/hot-toast/src/styles/styles";

$base-color: #0e99cd;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mediun-width {
  width: 40%;
}

.inline {
  display: inline;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  display: none;
}

.hidden {
  display: none;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #0e99cd;
  --mat-toolbar-container-text-color: white;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #0e99cd;
  --mdc-protected-button-label-text-color: white;
  --mat-protected-button-state-layer-color: white;
  --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
}
