<h2 mat-dialog-title>{{ titleForm }}</h2>
<ng-template #successTemplate>
  <b>Settings saved!</b>
</ng-template>
<ng-template #errorTemplate>
  <b>Could not save.</b>
</ng-template>

<mat-divider></mat-divider>
<div class="col-12">
  <mat-dialog-content class="mat-typography">
    <form autocomplete="off" class="row" [formGroup]="restaurantForm">
      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nombre del restaurante:</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre del restaurante"
            formControlName="restaurantName"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('restaurantName')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nombre del Encargado</mat-label>
          <input
            type="text"
            matInput
            placeholder="Encargado:"
            formControlName="manager"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('manager')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            placeholder="Correo Electronico:"
            formControlName="email"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('email')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Télefono Movil:</mat-label>
          <input
            type="text"
            matInput
            placeholder="Télefono Movil:"
            formControlName="mobilePhone"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('mobilePhone')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Télefono Fijo:</mat-label>
          <input
            type="text"
            matInput
            placeholder="Télefono Fijo:"
            formControlName="localPhone"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('localPhone')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tipo de Comida</mat-label>
          <mat-select formControlName="restaurantType">
            <mat-option *ngFor="let type of restaurantType" [value]="type">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <!-- <p>
        <mat-slide-toggle formControlName="is_active">Activo</mat-slide-toggle>
      </p> -->
    </form>
    <mat-divider></mat-divider>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="restaurantForm.invalid"
      (click)="submit()"
    >
      {{ textButton }}
    </button>
  </mat-dialog-actions>
</div>
